{% extends 'base.html' %}

{% load static %}

{% block title %}Terms and Conditions - Knowledge Nook Library{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/terms.css' %}">
{% endblock styles %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-3">Terms and Conditions</h1>

    <h4>Registration Fee</h4>
    <ul>
        <li>A registration fee of ₹100 is required for admission to the library</li>
        <li><b><span class="highlight-background">This fee is non-refundable and non-transferable</span></b></li>
        <li><a href="book" style="font-weight: bold; color: blue;">👉 Register Here</a></li>
    </ul>


    <h4>Time Slot Selection</h4>
    <ul>
        <li>Upon registration students may choose a suitable time slot for accessing the library</li>
        <li>Time slots are available for 6 hours, 12 hours, or 24 hours</li>
        <li>
            <a href="#shiftsCollapse" data-bs-toggle="collapse">View Shifts</a>
            <div id="shiftsCollapse" class="collapse">
                <ul>
                    <li>Shift 1 (6 hours): 06:00 AM - 12:00 PM <b><span class="highlight-background">(Price: ₹500/month)</span></b></li>
                    <li>Shift 2 (6 hours): 12:00 PM - 06:00 PM <b><span class="highlight-background">(Price: ₹600/month)</span></b></li>
                    <li>Shift 3 (5 hours): 06:00 PM - 11:00 PM <b><span class="highlight-background">(Price: ₹500/month)</span></b></li>
                    <li>shift4 (12 hours): 06:00 PM - 06:00 AM <b><span class="highlight-background">(Price: ₹1000/month)</span></b></li>
                    
                    <li>For multiple shifts:
                        <ul>
                            <li><b><span class="highlight-background">Shift 1 + Shift 2: ₹1000</span></b></li>
                            <li><b><span class="highlight-background">Shift 2 + Shift 3: ₹1000</span></b></li>
                        </ul>
                        Students are free to choose multiple shifts according to their own schedule and preference but after management concern
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <h4>Payment for Time Slot</h4>
    <ul>
        <li>Students are required to pay for their chosen time slot upon selection</li>
        <li>The payment amount is based on the selected time slot and will be displayed during the booking process</li>
    </ul>

    <h4>Batch Payment</h4>
    <ul>
        <li>Payment for the chosen time slot is for a single batch only</li>
        <li>If students wish to extend their access beyond the initial batch, additional payment is required</li>
    </ul>

    <h4>No Special Discounts</h4>
    <ul>
        <li>There are no special discounts available for students, except under special conditions as determined by the management</li>
    </ul>

    <h4>Cancellation and Refunds</h4>
    <ul>
        <li>Once a time slot is booked and paid for, it cannot be cancelled or refunded</li>
        <li>In case of any technical issues or discrepancies, students are advised to contact the library management for assistance</li>
    </ul>

    <h4>Behavior and Conduct</h4>
    <ul>
        <li>Students are expected to maintain appropriate behavior and conduct within the library premises</li>
        <li>Any disruptive behavior may result in the suspension or termination of library privileges without refund</li>
    </ul>

    <h4>Liability</h4>
    <ul>
        <li>The library shall not be held liable for any loss, damage or injury incurred by students within the premises</li>
        <li>Students are responsible for their personal belongings and are advised to keep them secure at all times</li>
    </ul>

    <h4>Changes to Terms and Conditions</h4>
    <ul>
        <li>The library reserves the right to modify or update these terms and conditions at any time</li>
        <li>Updated terms will be posted on the website and continued use of the library services constitutes acceptance of the revised terms</li>
    </ul>

</div>
{% endblock body %}
